<!doctype html>
<html lang="en">
<head>
  {% load manifest %}
  {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% manifest '/assets/favicon/favicon-gigtease.ico' %}" type="image/x-icon"/>

  <!-- CSS Files -->
  {#  <link href="{% static 'bootstrap-wizard/css/bootstrap.min.css' %}" rel="stylesheet"/>#}
  <link href="{% static 'bootstrap-wizard/css/gsdk-bootstrap-wizard.css' %}" rel="stylesheet"/>

  <!-- Map CSS -->
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"/>

  <!-- Libs CSS -->
  <link rel="stylesheet" href="{% manifest '/assets/css/libs.bundle.css' %}"/>

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% manifest '/assets/css/theme.bundle.css' %}"/>

  <!-- bootstrap datepicker -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- custom CSS file -->
  <link href="{% static 'custom/css/create-playlist.css' %}" rel="stylesheet"/>

  <!-- Title -->
  <title>GigTease</title>

  <!--     Fonts and icons     -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>
<div class="image-container set-full-height whole-page-container"
     style="display: none; background-image: url({% manifest '/assets/img/covers/concert4.jpg' %})">

  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col">

        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="primary" id="wizard">
            <form action="" method="">

              <div class="wizard-header text-center">
                <h2 class="mb-1">
                  <b>Build your playlist</b>
                </h2>
                <p>
                  We'll collect some info about your location and musical preferences to build you a playlist
                  of bands coming to your town.
                </p>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a id='authorize-spotify-tab-pill' href="#authorize-spotify-tab" data-toggle="tab">Authorize</a>
                  </li>
                  <li><a id='location-tab-pill' href="#location-tab" data-toggle="tab">Location</a></li>
                  <li><a id='genres-tab-pill' href="#genres-tab" data-toggle="tab">Genres</a></li>
                  <li><a id='time-period-tab-pill' href="#time-period-tab" data-toggle="tab">Time Period</a></li>
                </ul>
              </div>
              <div class="tab-content">

                <div class="tab-pane text-center" id="authorize-spotify-tab">
                  <div class="col-sm-12">
                    <p class="mt-0" id="authorize-spotify-explanation">First thing's first - authorize GigTease to
                      access your Spotify
                      account. </br>Don't worry, we'll only request permissions to create playlists!</p>
                    <hr>
                  </div>

                  <div class="mt-5">
                    <a class="btn btn-warning lift" href='{{ spotify_authorize_url }}' id='authorize-spotify-button'>Authorize
                      My Spotify Account</a>
                  </div>
                </div>

                <div class="tab-pane" id="location-tab">
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="mt-0 text-center">Next, give us some information about your location or where you're
                        looking to find upcoming concerts.
                      </p>
                       <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div id="geocoder" class="geocoder float-end"></div>
                  </div>
                  <div id='map' style='width: 100%; height: 300px;'></div>
                  <div class="row mt-5">
                    <div class='col-12'>
                      <label id='distance-slider-output' for='distance-slider' class='no-margin-label'>Distance to
                        search for shows: 5 miles</label>
                      <div class="distance-slider-container">
                        <input id="distance-slider" type="range" min="5" max="180" value="{{ default_miles }}"
                               class="form-range"
                               step="5">
                      </div>

                      <p class=""><small>Note: at this time we are only able to support the US and Canada. We are
                        working on supporting additional countries.</small></p>
                    </div>
                  </div>

                </div>

                <div class="tab-pane" id="genres-tab">
                  <div class="col-sm-12">
                    <p class="mt-0">Next, let us know what kind of genres you like to listen to.</br>
                      <small>
                        Note: in an upcoming feature release, we are planning on adding the ability to scan one of your
                        playlists to get a better idea of your music tastes.
                      </small>
                    </p>
                     <hr>
                  </div>
                </div>

                <div class="tab-pane" id="time-period-tab">
                  <div class="col-sm-12">
                    <p class="mt-0 text-center">Finally, let us know how far into the future you want GigTease to look
                      for shows
                      coming to your town (or select a custom date range).
                    </p>
                     <hr>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="mt-5 col-8">

                      <!-- range slider for dates -->
                      <label id='time-period-slider-output' for='time-period-slider' class='no-margin-label'>Looking for
                        shows happening in the next 3 weeks.</label>
                      <input id="time-period-slider" type="range" min="1" max="24" value="3"
                             class="form-range"
                             step="1">

                      <!-- start date and end date pickers -->
                      <div class="input-group input-daterange">
                        <input type="text" class="form-control custom-form-control datepicker-range"
                               id="datepicker-start"
                               placeholder="Input your start date.">
                        <div class="input-group-text" style="color: black; border: none;"> to</div>
                        <input type="text" class="form-control custom-form-control datepicker-range" id="datepicker-end"
                               placeholder="Input your end date.">
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next'
                         value='Next'/>
                  <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish'
                         value='Create Playlist'/>

                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous'
                         value='Previous'/>
                </div>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div> <!-- row -->
  </div> <!--  big container -->

</div>

</body>

<!--   Core JS Files   -->
<script src="{% static 'bootstrap-wizard/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-wizard/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-wizard//js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="{% static 'bootstrap-wizard/js/gsdk-bootstrap-wizard.js' %}"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{% static 'bootstrap-wizard/js/jquery.validate.min.js' %}"></script>

<!--mapbox-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet'/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css">
<script src='https://npmcdn.com/mapbox-gl-circle/dist/mapbox-gl-circle.min.js'></script>
<!--dropdown package for multi selects-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<!-- bootstrap date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<!-- page specific js -->

<!-- common variables -->
<script>
  const mapboxglAccessToken = 'pk.eyJ1IjoiZWhvZm1hbm4iLCJhIjoiY2w4ZXlzeWFiMGxkeDN2cDlud2xjMGoxayJ9.876VNl--yb5DryFs9wkiTg';
  currentLatitude = '';
  currentLongitude = '';
  mapBoxMarker = null;
  mapBoxCircle = null;
  defaultMiles = $("#distance-slider").val();
  currentDistanceMeters = getMeters(defaultMiles);
  defaultZoom = 7;
  defaultTimePeriod = 3;

  // convert meteres to miles
  function getMeters(miles) {
    return miles * 1609.344;
  }

  // remove existing map markers and proximity circles
  function cleanMap() {
    if (mapBoxMarker) {
      mapBoxMarker.remove();
      mapBoxMarker = null;
    }
    if (mapBoxCircle) {
      mapBoxCircle.remove();
      mapBoxCircle = null;
    }
  }
</script>

<!-- bootstrap datepicker stuff -->
<script>
  $('.input-daterange input').each(function () {
    $(this).datepicker('clearDates');
    $(this).datepicker('setStartDate', new Date())
  });
</script>

<!-- on change of time-period-slider, update the label and the date pickers with the dates -->
<script>
  $(document).ready(function () {
    // set starting dates
    $('#datepicker-start').datepicker('setDate', new Date());
    $('#datepicker-end').datepicker('setDate', moment().add(3, 'weeks').toDate());
    let timePeriodSlider = $("#time-period-slider");
    let timePeriodSliderOutput = $("#time-period-slider-output");
    let baseText = 'Looking for shows happening in the next '
    timePeriodSliderOutput.text(baseText + defaultTimePeriod + ' weeks'); // Display the default slider value
    // Update the current slider value (each time you drag the slider handle)
    $(document).on('input', '#time-period-slider', function () {
        let newTimePeriod = $(this).val();
        let timePeriodLabel = newTimePeriod + ' weeks'
        if (newTimePeriod == 1) {
          timePeriodLabel = 'week'
        }
        timePeriodSliderOutput.text(baseText + timePeriodLabel);
        $('#datepicker-end').datepicker('setDate', moment().add(newTimePeriod, 'weeks').toDate());
      }
    )
    ;
  });
</script>

<!-- check to see if the access token is in the URL and disable auth button if so -->
<script>
  $(document).ready(function () {
    var current_url = window.location.toString();
    if (current_url.indexOf('code=') >= 0) {
      $('#authorize-spotify-button').text('Your Spotify is authorized!');
      $('#authorize-spotify-button').addClass('disabled');
      $('#authorize-spotify-explanation').text("Looks like your Spotify is all hooked up - hit next to continue.")
    }
  });
</script>

<!-- create new mapbox Map object -->
<script>
  mapboxgl.accessToken = mapboxglAccessToken;
  const map = new mapboxgl.Map({
    container: 'map',
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v11',
    // long, lat
    center: [-99.69, 39.15],
    zoom: 2.5
  });

  // Add the search control to the map.
  geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl,
    marker: {color: "#FF9500"},
    placeholder: 'Search for a city...',
    countries: 'US,CA',
    types: 'place',
    //erich: i don't know how to limit it to just cities...doesnt seem to work
    //https://stackoverflow.com/a/64128949
  })
  // below adds the geocoder above the graph
  // document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  // below adds it to the map
  map.addControl(geocoder);

  // on clear of the search control, do something
  geocoder.on('clear', function () {
    cleanMap();
  })

  // on result of search control, add circle
  geocoder.on('result', function (e) {
    cleanMap();
    currentLongitude = e['result']['center'][0];
    currentLatitude = e['result']['center'][1];

    mapBoxCircle = new MapboxCircle({lat: currentLatitude, lng: currentLongitude}, currentDistanceMeters, {
      editable: false,
      fillColor: "#FF9500"
    }).addTo(map);

    map.flyTo({
      center: [currentLongitude, currentLatitude],
      zoom: defaultZoom,
    })

  });
</script>

<!-- prompt user for current location and move map if granted -->
<script>
  // function to display the allow location prompt when accessing the map tab
  function onVisible(element, callback) {
    new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0) {
          callback(element);
          observer.disconnect();
        }
      });
    }).observe(element);
  }

  function PromptUserForLocation() {
    window.navigator.geolocation
      .getCurrentPosition(
        updateMapWithUserLocation, console.log
      );
  }

  onVisible(document.querySelector("#map"), () => [map.resize(), PromptUserForLocation()]);

  // update the map with the users location on acceptance of prompt
  function updateMapWithUserLocation(responseObj) {
    currentLatitude = responseObj['coords']['latitude']
    currentLongitude = responseObj['coords']['longitude']
    let fetchUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + currentLongitude + ',' + currentLatitude + '.json?&access_token=' + mapboxglAccessToken

    function fillInSearchWithCurrentLocation(data) {
      let currentCity = data['features'][3]['place_name'];
      // the first way sets in the input correctly but shows the search result dropdown - annoying
      //geocoder.setInput(currentCity, false);
      // the second way sets the input but removes the X clear on input, need to reset - hacky but we're usin it
      geocoder._setInputValue(currentCity)
      $('.mapboxgl-ctrl-geocoder--button').show();
    }

    fetch(fetchUrl)
      .then((response) => response.json())
      .then((data) => fillInSearchWithCurrentLocation(data));
    map.flyTo({
      center: [currentLongitude, currentLatitude],
      zoom: defaultZoom,
    })
    mapBoxMarker = new mapboxgl.Marker({
      color: "#FF9500",
    }).setLngLat([currentLongitude, currentLatitude]).addTo(map);

    mapBoxCircle = new MapboxCircle({lat: currentLatitude, lng: currentLongitude}, getMeters(defaultMiles), {
      editable: false,
      fillColor: "#FF9500"
    }).addTo(map);

  }

</script>

<!-- distance-slider functionality -->
<script>
  $(document).ready(function () {
    let distanceSlider = $("#distance-slider");
    let distanceSliderOutput = $("#distance-slider-output");
    let baseText = 'Distance to search for upcoming concerts: '
    distanceSliderOutput.text(baseText + defaultMiles + ' miles'); // Display the default slider value
    // Update the current slider value (each time you drag the slider handle)
    $(document).on('input', '#distance-slider', function () {
        let newDistance = $(this).val();
        let distance_label = 'miles';
        if (newDistance == 1) {
          distance_label = 'mile'
        }
        distanceSliderOutput.text(baseText + newDistance + ' ' + distance_label);
        //update radius on map
        // convert miles to meters
        currentDistanceMeters = getMeters(newDistance);
        mapBoxCircle.setRadius(currentDistanceMeters);
      }
    )
    ;
  });
</script>

<!--genre multi select-->
<script>
  $(document).ready(function () {
    $('.genres').select2({
      selectOnClose: false,
      allowClear: true,
    });
  });
</script>

<!-- dev work -->
<script>
  $(document).ready(function () {
    //$('#time-period-tab-pill').click();
  });
</script>

</html>

