<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static '/assets/favicon/favicon-gigtease.ico' %}" type="image/x-icon"/>

  <!-- CSS Files -->
  {#  <link href="{% static 'bootstrap-wizard/css/bootstrap.min.css' %}" rel="stylesheet"/>#}
  <link href="{% static 'bootstrap-wizard/css/gsdk-bootstrap-wizard.css' %}" rel="stylesheet"/>

  <!-- Map CSS -->
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"/>

  <!-- Libs CSS -->
  <link rel="stylesheet" href="{% static '/assets/css/libs.bundle.css' %}"/>

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% static '/assets/css/theme.bundle.css' %}"/>

  <!-- bootstrap datepicker -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <!-- custom CSS file -->
  <link href="{% static 'custom/css/create-playlist.css' %}" rel="stylesheet"/>

  <!-- Title -->
  <title>GigTease - Create Playlist</title>

  <!--     Fonts and icons     -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>

<!-- navbar include -->


<div class="image-container set-full-height whole-page-container"
     style="display: none; background-image: url({% static '/assets/img/covers/concert4.jpg' %})">

  {% include "partials/navbar.html" %}

  <!--   Big container   -->
  <div class="container">
    <div class="row align-items-center" style="min-height: 80vh;">
      <div class="col">

        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="primary" id="wizard">
            <form action="" method="">

              <div class="wizard-header text-center">
                <h2 class="mb-1">
                  <b>Build your playlist</b>
                </h2>
                <p>
                  We'll collect some info about your location and musical preferences to build you a playlist
                  of bands coming to your town.
                </p>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li><a id='authorize-spotify-tab-pill' href="#authorize-spotify-tab" data-toggle="tab">Authorize</a>
                  </li>
                  <li><a id='location-tab-pill' href="#location-tab" data-toggle="tab">Location</a></li>
                  <li><a id='genres-tab-pill' href="#genres-tab" data-toggle="tab">Genres</a></li>
                  <li><a id='time-period-tab-pill' href="#time-period-tab" data-toggle="tab">Time Period</a></li>
                </ul>
              </div>
              <div class="tab-content">

                <div class="tab-pane text-center" id="authorize-spotify-tab">
                  <div class="col-sm-12">
                    <p class="mt-0" id="authorize-spotify-explanation">First thing's first - authorize GigTease to
                      access your Spotify
                      account. </br>Don't worry, we'll only request permissions to create playlists!</p>
                    <hr>
                  </div>

                  <div class="mt-5">
                    <a class="btn btn-warning lift" href='{{ spotify_authorize_url }}' id='authorize-spotify-button'>Authorize
                      My Spotify Account</a>
                  </div>
                </div>

                <div class="tab-pane" id="location-tab">
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="mt-0 text-center">Next, give us some information about your location or where you're
                        looking to find upcoming concerts.
                      </p>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div id="geocoder" class="geocoder float-end"></div>
                  </div>
                  <div id='map' style='width: 100%; height: 300px;'></div>
                  <div class="row mt-5">
                    <div class='col-12'>
                      <label id='distance-slider-output' for='distance-slider' class='no-margin-label'>Distance to
                        search for shows: 5 miles</label>
                      <div class="distance-slider-container">
                        <input id="distance-slider" type="range" min="5" max="180" value="{{ default_miles }}"
                               class="form-range"
                               step="5">
                      </div>

                      <p class=""><small>Note: at this time we are only able to support the US and Canada. We are
                        working on supporting additional countries.</small></p>
                    </div>
                  </div>

                </div>

                <div class="tab-pane" id="genres-tab">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <p class="mt-0" text-center>Next, let us know what kind of genres you like to listen to.</br>
                        <small>
                          Note: in an upcoming feature release, we are planning on adding the ability to scan one of
                          your
                          playlists to get a better idea of your music tastes.
                        </small>
                      </p>
                      <hr>
                      <!--<label for='genres-select'>Genres</label>-->
                      <select id='genres-select' name="genres-select" multiple
                              data-placeholder='Leave blank to select all genres.'>
                        <option value="rock">Rock</option>
                        <option value="alternative">Alternative</option>
                        <option value="country">Country</option>
                        <option value="pop">Pop</option>
                        <option value="indie">Indie</option>
                        <option value="punk">Punk</option>
                        <option value="blues">Blues</option>
                        <option value="soul">Soul</option>
                        <option value="rock">Rock</option>
                        <option value="folk">Folk</option>
                        <option value="jazz">Jazz</option>
                        <option value="reggae">Reggae</option>
                        <option value="classic_rock">Classic Rock</option>
                        <option value="hard_rock">Hard Rock</option>
                        <option value="electronic">Electronic</option>
                        <option value="rnb">Rnb</option>
                        <option value="hip_hop">Hip Hop</option>
                        <option value="rap">Rap</option>
                        <option value="funk">Funk</option>
                        <option value="latin">Latin</option>
                        <option value="classical">Classical</option>
                        <option value="techno">Techno</option>
                      </select>


                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="time-period-tab">
                  <div class="col-sm-12">
                    <p class="mt-0 text-center">Finally, let us know how far into the future you want GigTease to look
                      for shows
                      coming to your town (or select a custom date range).
                    </p>
                    <hr>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="mt-5 col-8">

                      <!-- range slider for dates -->
                      <label id='time-period-slider-output' for='time-period-slider' class='no-margin-label'>Looking
                        for
                        shows happening in the next 3 weeks.</label>
                      <input id="time-period-slider" type="range" min="1" max="24" value="3"
                             class="form-range"
                             step="1">

                      <!-- start date and end date pickers -->
                      <div class="input-group input-daterange">
                        <input type="text" class="form-control custom-form-control datepicker-range"
                               id="datepicker-start"
                               placeholder="Input your start date.">
                        <div class="input-group-text" style="color: black; border: none;"> to</div>
                        <input type="text" class="form-control custom-form-control datepicker-range"
                               id="datepicker-end"
                               placeholder="Input your end date.">
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next'
                         value='Next'/>
                  <input type='button' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish'
                         value='Create Playlist'/>

                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous'
                         value='Previous'/>
                </div>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div> <!-- row -->
  </div> <!--  big container -->

</div>

</body>

<!-- theme js -->
<script src="{% static '/assets/js/theme.bundle.js' %}"></script>
<script src="{% static '/assets/js/vendor.bundle.js' %}"></script>

<!--   Core JS Files   -->
<script src="{% static 'bootstrap-wizard/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-wizard/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-wizard/js/jquery.bootstrap.wizard.js' %}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="{% static 'bootstrap-wizard/js/gsdk-bootstrap-wizard.js' %}"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{% static 'bootstrap-wizard/js/jquery.validate.min.js' %}"></script>

<!--mapbox-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet'/>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css">
<script src='https://npmcdn.com/mapbox-gl-circle/dist/mapbox-gl-circle.min.js'></script>
<!--dropdown package for multi selects-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- bootstrap date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- moment js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- sweet alert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- page specific js -->

<!-- common variables -->
<script>
  const mapboxglAccessToken = 'pk.eyJ1IjoiZWhvZm1hbm4iLCJhIjoiY2w4ZXlzeWFiMGxkeDN2cDlud2xjMGoxayJ9.876VNl--yb5DryFs9wkiTg';
  spotifyAuthed = false;
  currentLatitude = null;
  currentLongitude = null;
  currentZipCode = null;
  currentCity = null;
  mapBoxMarker = null;
  mapBoxCircle = null;
  defaultMiles = $("#distance-slider").val();
  currentDistanceMeters = getMeters(defaultMiles);
  defaultZoom = 7;
  defaultTimePeriod = 3;

  // convert meteres to miles
  function getMeters(miles) {
    return miles * 1609.344;
  }

  // remove existing map markers and proximity circles
  function cleanMap() {
    if (mapBoxMarker) {
      mapBoxMarker.remove();
      mapBoxMarker = null;
    }
    if (mapBoxCircle) {
      mapBoxCircle.remove();
      mapBoxCircle = null;
    }
    currentLatitude = null;
    currentLongitude = null;

  }
</script>

<!-- bootstrap datepicker stuff -->
<script>
  $('.input-daterange input').each(function () {
    $(this).datepicker('clearDates');
    $(this).datepicker('setStartDate', new Date())
    $(this).datepicker('setEndDate', moment().add(24, 'weeks').add(1, 'days').toDate())
  });
</script>

<!-- on change of time-period-slider, update the label and the date pickers with the dates -->
<script>
  $(document).ready(function () {
    // set starting dates
    $('#datepicker-start').datepicker('setDate', new Date());
    $('#datepicker-end').datepicker('setDate', moment().add(3, 'weeks').toDate());
    let timePeriodSlider = $("#time-period-slider");
    let timePeriodSliderOutput = $("#time-period-slider-output");
    let baseText = 'Looking for shows happening in the next '
    timePeriodSliderOutput.text(baseText + defaultTimePeriod + ' weeks'); // Display the default slider value
    // Update the current slider value (each time you drag the slider handle)
    $(document).on('input', '#time-period-slider', function () {
        let newTimePeriod = $(this).val();
        let timePeriodLabel = newTimePeriod + ' weeks'
        if (newTimePeriod == 1) {
          timePeriodLabel = 'week'
        }
        timePeriodSliderOutput.text(baseText + timePeriodLabel);
        $('#datepicker-start').datepicker('setDate', moment().toDate());
        $('#datepicker-end').datepicker('setDate', moment().add(newTimePeriod, 'weeks').toDate());
      }
    )
    ;
  });
</script>

<!-- check to see if the access token is in the URL and disable auth button if so -->
<script>
  $(document).ready(function () {
    var current_url = window.location.toString();
    if (current_url.indexOf('code=') >= 0) {
      $('#authorize-spotify-button').text('Your Spotify is authorized!');
      $('#authorize-spotify-button').addClass('disabled');
      $('#authorize-spotify-explanation').text("Looks like your Spotify is all hooked up - hit next to continue.")
      spotifyAuthed = true;
    }
  });
</script>

<!-- create new mapbox Map object -->
<script>
  mapboxgl.accessToken = mapboxglAccessToken;
  const map = new mapboxgl.Map({
    container: 'map',
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v11',
    // long, lat
    center: [-99.69, 39.15],
    zoom: 2.5
  });

  // Add the search control to the map.
  geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl,
    marker: {color: "#FF9500"},
    placeholder: 'Search for a city...',
    countries: 'US,CA',
    types: 'place',
    //erich: i don't know how to limit it to just cities...doesnt seem to work
    //https://stackoverflow.com/a/64128949
  })
  // below adds the geocoder above the graph
  // document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
  // below adds it to the map
  map.addControl(geocoder);

  // on clear of the search control, do something
  geocoder.on('clear', function () {
    cleanMap();
  })

  // on result of search control, add circle
  geocoder.on('result', function (e) {
    cleanMap();
    currentLongitude = e['result']['center'][0];
    currentLatitude = e['result']['center'][1];

    mapBoxCircle = new MapboxCircle({lat: currentLatitude, lng: currentLongitude}, currentDistanceMeters, {
      editable: false,
      fillColor: "#FF9500"
    }).addTo(map);

    map.flyTo({
      center: [currentLongitude, currentLatitude],
      zoom: defaultZoom,
    })

  });
</script>

<!-- prompt user for current location and move map if granted -->
<script>
  // function to display the allow location prompt when accessing the map tab
  function onVisible(element, callback) {
    new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0) {
          callback(element);
          observer.disconnect();
        }
      });
    }).observe(element);
  }

  function PromptUserForLocation() {
    window.navigator.geolocation
      .getCurrentPosition(
        updateMapWithUserLocation, console.log
      );
  }

  onVisible(document.querySelector("#map"), () => [map.resize(), PromptUserForLocation()]);

  // update the map with the users location on acceptance of prompt
  function updateMapWithUserLocation(responseObj) {
    currentLatitude = responseObj['coords']['latitude']
    currentLongitude = responseObj['coords']['longitude']
    let fetchUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + currentLongitude + ',' + currentLatitude + '.json?&access_token=' + mapboxglAccessToken

    function fillInSearchWithCurrentLocation(data) {
      currentCity = data['features'][3]['place_name'];
      // the first way sets in the input correctly but shows the search result dropdown - annoying
      //geocoder.setInput(currentCity, false);
      // the second way sets the input but removes the X clear on input, need to reset - hacky but we're usin it
      geocoder._setInputValue(currentCity)
      $('.mapboxgl-ctrl-geocoder--button').show();
    }

    fetch(fetchUrl)
      .then((response) => response.json())
      .then((data) => fillInSearchWithCurrentLocation(data));
    map.flyTo({
      center: [currentLongitude, currentLatitude],
      zoom: defaultZoom,
    })
    mapBoxMarker = new mapboxgl.Marker({
      color: "#FF9500",
    }).setLngLat([currentLongitude, currentLatitude]).addTo(map);

    mapBoxCircle = new MapboxCircle({lat: currentLatitude, lng: currentLongitude}, getMeters(defaultMiles), {
      editable: false,
      fillColor: "#FF9500"
    }).addTo(map);

  }

</script>

<!-- distance-slider functionality -->
<script>
  $(document).ready(function () {
    let distanceSlider = $("#distance-slider");
    let distanceSliderOutput = $("#distance-slider-output");
    let baseText = 'Distance to search for upcoming concerts: '
    distanceSliderOutput.text(baseText + defaultMiles + ' miles'); // Display the default slider value
    // Update the current slider value (each time you drag the slider handle)
    $(document).on('input', '#distance-slider', function () {
        let newDistance = $(this).val();
        let distance_label = 'miles';
        if (newDistance == 1) {
          distance_label = 'mile'
        }
        distanceSliderOutput.text(baseText + newDistance + ' ' + distance_label);
        //update radius on map
        // convert miles to meters
        currentDistanceMeters = getMeters(newDistance);
        mapBoxCircle.setRadius(currentDistanceMeters);
      }
    )
    ;
  });
</script>

<!--genre multi select-->
<script>
  $(document).ready(function () {
    $('#genres-select').select2({
      'width': '50%',
      allowClear: true,
      dropdownParent: $('#genres-tab')
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href") // activated tab
      if (target == '#genres-tab') {
        // we have to open it up otherwise the placeholder text is cut off...dumb
        $('#genres-select').select2('open');
      }
    });
  });
</script>

<!-- enable create playlist button if all required fields are filled out -->
<script>
  $('.btn-finish').on('click', function (e) {
    // if not a spotify authed, show sweet alert and go to authorize-spotify-tab
    if (!spotifyAuthed) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Looks like you haven\'t authorized GigTease to use your Spotify account!',
        confirmButtonText: 'Let\'s fix it!'
      }).then((result) => {
        $('#authorize-spotify-tab-pill').click();
      });
    }
    // if not a location set, show sweet alert and go to location-tab
    if (!currentLatitude && !currentLongitude) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Looks like you didn\'t give us a location to search for shows.',
        confirmButtonText: 'Let\'s fix it!'
      }).then((result) => {
        $('#location-tab-pill').click();
      });
    }

    startDate = $('#datepicker-start').data('datepicker').getFormattedDate('yyyy-mm-dd');
    endDate = $('#datepicker-end').data('datepicker').getFormattedDate('yyyy-mm-dd');
    if (!startDate && !endDate) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Looks like you didn\'t give us a some dates to search for shows.',
        confirmButtonText: 'Let\'s fix it!'
      }).then((result) => {
        $('#time-period-tab-pill').click();
      });
    }

    // if forms are all filled out, collect the user selections and POST them to an endpoint
    if (currentLatitude && currentLongitude && spotifyAuthed) {
      let payload = {
        'locationZip': null,
        'locationName': null,
        'genres[]': [],
        'startDate': null,
        'endDate': null,
        'distance': null,
        'task_id': null,
      }
      let code = window.location.toString().split('code=')[1].split('&state=')[0];
      // get currentCity and currentZipCode from mapbox and update payload
      let fetchUrl = 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + currentLongitude + ',' + currentLatitude + '.json?&access_token=' + mapboxglAccessToken;

      function getCurrentCityAndZip(data) {
        // response object (data) can be a variable length, need to find by id
        zipCodeIdx = data['features'].findIndex(x => x.id.includes('postcode'));
        cityIdx = data['features'].findIndex(x => x.id.includes('place'));
        currentCity = data['features'][cityIdx]['text'];
        currentZipCode = data['features'][zipCodeIdx]['text'];
        payload['locationZip'] = currentZipCode;
        payload['locationName'] = currentCity;
      }

      fetch(fetchUrl)
        .then((response) => response.json())
        .then((data) => getCurrentCityAndZip(data))
        .then(() => {
          // collect genres
          currentGenres = $('#genres-select').val();
          payload['genres[]'] = currentGenres;
          // collect timePeriod
          startDate = $('#datepicker-start').data('datepicker').getFormattedDate('mm/dd/yyyy');
          endDate = $('#datepicker-end').data('datepicker').getFormattedDate('mm/dd/yyyy');
          payload['startDate'] = startDate;
          payload['endDate'] = endDate;
          // collect distance
          currentDistance = $('#distance-slider').val();
          payload['distance'] = currentDistance;

          // display sweet alert with the payload collected and confirm playlist creation
          function formatGenresForDisplay(genres) {
            if (!genres) {
              return 'All genres selected'
            } else {
              return genres.map(function (genre) {
                return " " + genre.toLocaleString();
              });
            }
          }

          Swal.fire({
            title: '<strong>Ready to GigTease!</strong>',
            icon: 'success',
            html:
              'We\'ve collected the following parameters: </br></br>' +
              '<b>Location: </b>' + payload['locationName'] + '</br>' +
              '<b>Distance: </b>' + payload['distance'] + ' mile radius </br>' +
              '<b>Genres: </b>' + formatGenresForDisplay(payload['genres[]']) + '</br>' +
              '<b>Time Period: </b>' + payload['startDate'] + ' to ' + payload['endDate'],
            showCancelButton: true,
            focusConfirm: true,
            reverseButtons: true,
            confirmButtonText:
              '<i class="fa fa-thumbs-up"></i> Let\'s go!',
            cancelButtonText: 'Keep editing',
            preConfirm: function () {
              $('.swal2-confirm').html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
                '<span> Working...</span>'
              )
              $('.swal2-confirm').addClass('disabled');
              // get access token from get-access-token-spotify-view
              $.post("/get-access-token-spotify/",
                {code: code},
                function (data, status) {
                  let auth_token = data['access_token'];
                  payload['auth_token'] = auth_token;
                  move_to_create_playlist_in_progress();

                  function move_to_create_playlist_in_progress() {
                    let task_id = Date.now().toString(36) + Math.random().toString(36).substring(2);
                    payload['task_id'] = task_id;
                    // write payload and task id to database
                    $.post("/write-payload-and-task-id-to-db/",
                      payload,
                      function (data, status) {
                        window.location.replace("/create-playlist-in-progress/" + task_id);
                      }
                    )
                  }
                }
              ).fail(function (response) {
                //alert ('that didnt work')
              });
              return false
            }
          })
        });
    }
  });
</script>

<!-- dev work -->
<script>
  $(document).ready(function () {
    //$('#genres-tab-pill').click();
  });
</script>

</html>

