//
// user-variables.scss
// Use this to overwrite Bootstrap and theme variables
//

// Example of a variable override to change theme's background color
// Remove the "//" to comment it in and see it in action!
//$body-bg: #12263F;
$primary: #ED4933;
$success: #CAE7B9;
$warning: #F3DE8A;
$info: #7E7F9A;
$secondary: #97A7B3;
